[Unit]
Description=Fix to allow docker containers to connect to host ports
After=network.target

[Service]
Type=oneshot
ExecStart=iptables -I INPUT 4 -i docker0 -j ACCEPT

[Install]
WantedBy=default.target
